<section class="feed">
    <header>
        <h1>Brewery App</h1>
        <h2>Hello <%= current_user['name'] %></h2>
        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>Logout</button>
        </form>
    </header>

    <nav>
        <ul>
            <li><a href="/search">Search</a></li>
            <li><a href="/my_page">My Breweries</a></li>
            <li><a href="/brewery_feed">Brewery Feed</a></li>
        </ul>
    </nav>

    <article>
        <% breweries.each do |brewery| %>
            <section class="breweries">
                <p>User: <%= brewery['user_name'] %></p>
                <p><%= brewery['name'] %></p>
                <p>Type: <%= brewery['brewery_type'] %></p>
                <p>Street: <%= brewery['street'] %></p>
                <p>City: <%= brewery['city'] %></p>
                <p>State: <%= brewery['state'] %></p>
                <p>Country: <%= brewery['country'] %></p>
                <p>Website: <%= brewery['website'] %></p>
                <p>Rate: <%= brewery['rate'] %></p>
                <p>Comments: <%= brewery['comments'] %></p>

                <form action="/like" method="POST">
                    <input type="hidden" name="post_like" value="<%= brewery['id'] %>">
                    <% if breweries_likes[brewery['id']] != nil %>
                        <p><%= breweries_likes[brewery['id']]%></p>
                    <% end %>
                    <button>Like</button>
                </form>
            </section>

            
        <% end %>
    </article>


</section>