<section class="search">
    <header>
        <h1>Find Brewery</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/search">Search</a></li>
            <li><a href="/my_page">My Breweries</a></li>
            <li><a href="/brewery_feed">Brewery Feed</a></li>
        </ul>
    </nav>


    <form action="/search">
        <label for="">Brewery Name:</label>
        <input type="text" name="name">

        <button>Search</button>
    </form>

    <article>
        <section class="breweries">
            <% brewery_info.each do |brewery| %>

                <p><%= brewery['name'] %></p>
                <p><%= brewery['brewery_type'] %></p>
                <p><%= brewery['street'] %></p>
                <p><%= brewery['city'] %></p>
                <p><%= brewery['state'] %></p>
                <p><%= brewery['country'] %></p>
                <p><%= brewery['website'] %></p>
                <form action="/add" method="POST">
                    <input type="hidden" name="name" value="<%= brewery['name'] %>">
                    <input type="hidden" name="brewery_type" value="<%= brewery['brewery_type'] %>">
                    <input type="hidden" name="street" value="<%= brewery['street'] %>">
                    <input type="hidden" name="city" value="<%= brewery['city'] %>">
                    <input type="hidden" name="state" value="<%= brewery['state'] %>">
                    <input type="hidden" name="country" value="<%= brewery['country'] %>">
                    <input type="hidden" name="website" value="<%= brewery['website'] %>">
                    <label for="">Rate:</label>
                    <select name="rate">
                        <option value="5">5</option>
                        <option value="6">6</option> 
                        <option value="7">7</option> 
                        <option value="8">8</option> 
                        <option value="9">9</option> 
                        <option value="10">10</option>     
                    </select>
                    <input type="text" name="comments" placeholder="Add a comment">
                    <%# <textarea name="comments" cols="30" rows="2" placeholder="Add a comment"></textarea> %>
                    <button>Add</button>
                </form>
            </section>
        <% end %>
    </article>
</section>